@model Pharmacy.Models.ItemTypeValidation
@{
    ViewBag.Title = "Add Item Type";
    Layout = "~/Views/Shared/_LayoutLeftMenu.cshtml";
}

<h3>Add Item Type/Categories</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <ol class="breadcrumb">
        <li>@Html.ActionLink("All Item Types", "AllTypes", "ItemType")</li>
        <li class="active">New Type</li>
    </ol>

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
            </div>
        </div>

        <div class="form-group">
          
            @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">

                @Html.CheckBoxFor(model => model.isActive, htmlAttributes: new { @checked = true })
                @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "AllTypes")
</div>
